<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=0, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Catálogo Cervejeiro | Detalhes</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <a href="/" class="nav-logo">CATÁLOGO CERVEJEIRO</a>
            </div>
            <div class="nav-right">
                <a href="/">Home</a> 
                <a href="/cadastro">Cadastrar</a>
                <a href="/sobre">Sobre</a>
            </div>
        </nav>
    
        <div class="header">
            <h1><%= cerveja.nome %></h1>
        </div>
    </header>
    <section class="detalhes">
        <img src="<%=  %>">
        <div class="info-cerveja">
            <div>
                Tipo:
                <spam><%= cerveja.tipo %></spam>
            </div>
            <div>
                IBU:
                <spam><%= cerveja.ibu %></spam>
            </div>
            <div>
                Teor alcoólico:
                <spam><%= cerveja.teoralcoolico %></spam>
            </div>
            <div>
                Fabricante:
                <spam><%= cerveja.fabricante %></spam>
            </div>
            <div class="botoes-detalhes">
                <a href="/editar/<%= cerveja.id %>">  
                    <button>Editar</button>
                </a>
                <form action="/deletar/<%= cerveja.id %>" method="POST">  
                    <button type="submit">Deletar</button>
                </form>
            </div>
        </div>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>