<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Catálogo Cervejeiro | Editar</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <a href="/" class="nav-logo">CATÁLOGO CERVEJEIRO</a>
                <img src="/img/LOGO.png">
            </div>
            <div class="nav-right">
                <a href="/">Home</a> 
                <a href="/cadastro">Cadastrar</a>
                <a href="/sobre">Sobre</a>
            </div>
        </nav>
        <div class="header">
            <h1>Editar</h1>
        </div>
    </header>
    <section class="form-beer">
        <form action="/editar/<%= cerveja.id%>" method="POST">
            <div>
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome" value="<%= cerveja.nome %>" required>
            </div>
            <div>
                <label for="tipo">Tipo: </label>
                <select name="tipo" required>
                    <option value="IPA" <% if (cerveja.tipo=="IPA"){%>selected<%}%>>IPA</option>
                    <option value="Lager" <% if (cerveja.tipo=="Lager"){%>selected<%}%>>Lager</option>
                    <option value="Weiss" <% if (cerveja.tipo=="Weiss"){%>selected<%}%>>Weiss</option>
                    <option value="Ale" <% if (cerveja.tipo=="Ale"){%>selected<%}%>>Ale</option>
                    <option value="Pilsen" <% if (cerveja.tipo=="Pilsen"){%>selected<%}%>>Pilsen</option>
                    <option value="Outro" <% if (cerveja.tipo=="Outro"){%>selected<%}%>>Outro</option>
                  </select>
            </div>
            <div>
                <label for="ibu">IBU: </label>
                <input type="text" name="ibu" id="ibu" value="<%= cerveja.ibu %>" required>
            </div>
            <div>
                <label for="teor alcoolico">Teor alcoólico: </label>
                <input type="text" name="teoralcoolico" id="teoralcoolico" value="<%= cerveja.teoralcoolico %>" required>
            </div>
            <div>
                <label for="fabricante">Fabricante: </label>
                <input type="text" name="fabricante" id="fabricante" value="<%= cerveja.fabricante %>" required>
            </div>
            <div>
                <label for="descricao">Descrição: </label>
                <input type="text" name="descricao" id="descricao" value="<%= cerveja.descricao %>" required>
            </div>
            <button type="submit" onclick="return confirm('Tem certeza que quer editar essa cerveja?');">Editar</button>
        </form>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>