<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Catálogo Cervejeiro</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <a href="/" class="nav-logo">CATÁLOGO CERVEJEIRO</a>
            </div>
            <div class="nav-right">
                <a href="/">Home</a> 
                <a href="/cadastro">Cadastrar</a>
                <a href="/sobre">Sobre</a>
            </div>
        </nav>
    </header>
    <section>
        <article id="lista">
            <h3>LISTA DE CERVEJAS</h3>

            <% cervejas.forEach(item => { %>
                <div>
                    <ul>
                        <li><%= item.nome %></li>
                        <li><%= item.tipo %></li>
                        <li><%= item.ibu %></li>
                        <li><%= item.teoralcoolico %></li>
                        <li><%= item.fabricante %></li>
                        <img src="<%=  %>" width=200>
                    </ul>
                </div>
            <% }) %> 
        </article>
    </section>
</body>
</html>